*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --container-width: 100vw;
  --container-height: calc(var(--square-height) * 3);
  --square-width: calc(var(--container-width) / 6);
  --square-height: var(--square-width);
}

body {
  margin: 0;
}
